.application-img-1-1-icon {
    position: relative;
    width: 200px;
    height: 110px;
    object-fit: cover;
  }
  .application-img-box1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .application-title1{
    /* align-self: stretch; */
    position: relative;
    font-size: var(--font-size-lg);
    line-height: 30px;
    font-family: var(--bookerly-reading-desktop);
    color: var(--black);
    text-align: center;
    font-size: 20px;
    padding: 3px 10px;
  }

 
  .application-point-box1 {
    align-self: stretch;
    position: relative;
    line-height: 26.66px;
  }
  .application-content1 {
    align-self: stretch;
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

  }
  .outcome-content1,
  .outcome1 {
    align-self: stretch;
    position: relative;
  }
  .outcome1 {
    line-height: 13.33px;
    font-weight: 600;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    padding: 5px;

  }
  .outcome-content1 {
    line-height: 25px;
    font-family: var(--bookerly-reading-desktop);
  }

  .outcome-content1 p{
    line-height: 25px;
  }
  .application-box1,
  .outcome-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .outcome-box1 {
    background-color: var(--green);
    padding: var(--padding-mini) var(--padding-3xs);
    justify-content: center;
    gap: var(--gap-3xs);
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--black);
    font-family: var(--font-poppins);
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
  .application-box1 {
    width: 420px;
    overflow: hidden;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-inherit);
    color: var(--text-gray);
    font-family: var(--bookerly-reading-desktop);
   box-shadow: var(--effect-1);
  }

  .application-points1{
 
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .application-points1 p{
    line-height: 28px;
    font-size: 16px;
  }

  .bold-point{
    font-family: var(--bookerly-reading-desktop-bold);
    font-size: 18px;
  }
  .normal-point{
    line-height: 32px;
    font-size: 18px;
  }
  @media screen and (max-width: 420px) {
    .application-title1 {
      font-size: var(--font-size-base);
    }
    .application-point-box1{
      font-size: var(--font-size-sm);
    }
    .application-box1 {
      align-self: stretch;
      width: auto;
    }
  }
  