.beamspage{
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    position: relative;
}

.trendingbeamshero{
    background-image: url("../../assets/beamsherobg.png");
    height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    position: relative;

}




.minibeams{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.minicardcont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.minicardssection{
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 90px;
}

.minibeams > span{
    align-self: flex-end;
    margin-right: 100px;
    margin-top: 20px;
    color: black;
    font-weight: 500;
    font-size: 18px;    
    cursor: pointer;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(120, 120, 120, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.popupcloser{
    height: 5%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.popup{
    width: clamp(60%,1000px,90%);
    height: min(85%,900px);
    margin: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;

}

.popupdata{
    background-image: url('../../assets//Popupbg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px 20px 20px 20px;
    
}

.popdatainner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.popupdata > h2{
    color: #F7CD61;
    font-size: 55px;
}

.popdatainner > span{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;

    
}

.popdatainner > img{
    width: 35%;
    height: auto;
}

.heroimgbeam{
    position: absolute;
    bottom: -90px;
}

.innernav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.innernav > span{
    font-size: 26px;
}