.beamspage{
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    position: relative;
}

.trendingbeamshero{
    background-image: url("../../assets/beamsherobg.png");
    height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    position: relative;

}




.minibeams{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.minicardcont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.minicardssection{
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 30px;
    position: relative;
}

.minibeams > span{
    align-self: flex-end;
    margin-right: 170px;
    margin-top: 0px;
    color: black;
    font-weight: 500;
    font-size: 18px;    
    cursor: pointer;
}

.minibeams > span:hover{
 
    color: #1837ff;
  
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(120, 120, 120, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.popupcloser{
    height: 5%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.popup{
    width: clamp(60%,1000px,90%);
    height: min(85%,900px);
    margin: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;

}

.popupdata{
    background-image: url('../../assets//Popupbg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px 20px 20px 20px;
    
}

.popdatainner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.popupdata > h2{
    color: #F7CD61;
    font-size: 55px;
}

.popdatainner > span{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    line-height: 60px;
    
}

.popdatainner > img{
    width: 35%;
    height: auto;
}

.heroimgbeam{
    position: absolute;
    bottom: -90px;
    transform: rotateY(20deg);
}

.innernav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.innernav > span{
    font-size: 26px;
}

.minicardsnaver{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}   

.minicardcontscroller{
   width: 100%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
   margin-bottom: 80px;
}

.minicardssectionscroller{

    /* right: 100px; */
    display: flex;
    overflow-x: hidden;
   width: 1120px;
}

.minicardssectionscroller1{
    position: relative;
    display: flex;
    transition: right 0.3s ease;
}

.minicardssectionscroller::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .minicardssectionscroller {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .mover{
  
}

.searchPage{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
}

.searchPageheading{
    margin-top: 50px;
    font-size: 34px;
    font-weight: 500;
}

.searchPageoptions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

.searchpageleftoptions{
    display: flex;
    width: 500px;

    justify-content: space-between;
}

.searchpageleftoptions > span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 23px 15px 23px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
}

.suggestionlist{
    width: 261px;
    height: 200px;
    background-color: #ffffff;
    position: absolute;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    overflow-y: scroll;
}

.suggestionlist::-webkit-scrollbar {
    width: 20px;
  }

.suggestionlist::-webkit-scrollbar-track {
    background-color: transparent;
  }


  .suggestionlist::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  .suggestionlist::-webkit-scrollbar-thumb:hover {
    background-color: #c2c2c2;
  }

.suggestionlist > p{
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    
}

.suggestionlist > p:hover{
    background-color: rgb(246, 246, 246);
}