.loggedinnav{
    background-color: #FAFAFA;
    width: 100%;
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar{
    position: relative;
}

.searchbar > input {
    width: 261px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    background: #FAFAFA;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: none;
    
}

.searchbar > input:focus{
    outline: none;
    border: none;
}

.searchicon{
    position: absolute;
    top: 13px;
    right: 20px;
}

.loggedinnav > span
{
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.navaccoutholder{
    height: 40px;
    /* width: 230px; */
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    padding-right: 10px;

}

.navaccoutholder > img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.navaccoutholder > span{
    margin-left: 20px;
    margin-right: 20px;
}