.LibraryPage{
    background-color: #FAFAFA;
    width: 100%;
    padding-top: 20px;
    margin-top: 90px;
}

.libraryoption{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #FAFAFA;
    align-items: center;
    /* margin-top: 40px; */
}

.libraryopitem{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.libraryopitem span{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    color: #9F9F9F;

}

.lbopic{
    color: #9F9F9F;
}

.opandfildivider{
    margin-top: 20px;
    width: 100%;
    height: 1.4px;
    background-color: #dfdfdf;
}

.filteroption{
    
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    justify-content: flex-end;
}

.filteroption select, .filteroption option{
    margin-right: 30px;
    border: none;
    font-size: 18px;
    padding: 10px;
    padding-right: 30px;
    border-radius: 20px;
    outline: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    /* -moz-appearance:none;
    -webkit-appearance:none;  */
    /* appearance:none; */
    /* width: 300px; */
}

.filteroption  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

.arrowselectposition{
    position: absolute;
    top: 13px;
    right: 45px;
    z-index: 50;
}

.hightlightitem{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 60px;
}

.hightlightitemheading{
    display: flex;
    justify-content: space-between;
}

.highlightitemicon{
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;

   
}

.hightlightitemoptions > input{
    height: 17px;
    width: 17px;
    cursor: pointer;
}

.hightlightitemheading > span{
    font-size: 32px;
}

.highlightdata{
    padding-top: 20px;
    margin-left:    60px;
    margin-right: 60px;
    background-color: #FAFAFA;
  
    
}

.highlightdata > img{
    margin-top: 30px;
}

.highlightcomponent{
    display: flex;
    margin-top: 14px;
    margin-bottom: 24px;
    margin-left: 20px;
    margin-Right: 20px;



}

.highlightcomponent input{
    margin-right: 10px;
    transform: scale(1.5);
}

.highlightcomponentinner{
    background-color: #FADF9C;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    width: 100%;
    /* max-width: 500px; */
}

.highlightcomponentinner > span{
    font-weight: 600;
    margin-bottom: 10px;
}

.highlightcomponentinner  strong{
    cursor: pointer;
}

.fwrap{

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /* justify-items: start; */
    align-items: center;  justify-items: center;
    justify-content: center;
}

.gridwrapper{
    /* background-color: #000000; */
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 100%;
    width: 100%;
}

.highlightcomponentinner2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.highlightscardoptions{
        width: 150px;
        background-color: white;
        position: absolute;
        right: -30px;
        bottom: 30px;
        height: 60px;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.highlightscardoptionsinner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.highlightscardoptionsinner:hover{
    background-color: rgb(246, 246, 246);
    
    border-radius: 20px;
}

.pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}