
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500;1,700&display=swap');

.maxbeamsreadpage{
    padding-top: 20px;

}

.maxbeamsreadheader{
    height: 70px;
    background-color: #435CFF;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 35px;
}

.maxbeamsreadheader h2{
    font-size: 39px;
    color: white;

}

.readtext{
    width: 900px;
    margin-top:  50px;
    margin-bottom: 100px;

}

.readtext > h3{
    color: #435CFF;
    margin-top: 50px;
    margin-bottom: 5px;
}

.readtext > p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
}

.YourHighlightClass{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
}

.highlightop{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    width: 190px;
    height: 80px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.highlightopinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    width: 40%;
    cursor: pointer;
}

.highlightopinner:hover{
    background-color: rgb(243, 243, 243);
}

.highlightopinner  span{
    margin-top: 10px;
    font-size: 14px;
}

.hightobjs{
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
}