.beams-header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--yellow);
    margin-top: -10vh;
    padding: 10% 5%;
    text-align: center;
    flex-direction: column;
}
.beams-header-container h1{
    font-size: 56px;
    font-family: var(--font-steva);
    font-weight: normal;
}

.beams-section{
    width: 100%;
    background-color: var(--white);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.beams-content-container{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    gap: 30px;
}

.low-box,.trending-box{
    font-family: var(--font-poppins);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px solid var(--orange);
}

.trending-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:60px;
    padding-bottom: 20px;
    /* padding: 70px 0; */
    width: 100%;
}

.trending-content-container{
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
}
.beams-hero{
    width: 25%;
    margin-bottom: -20%;
}

.low-container{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 0 60px;
  flex-direction: column;
}
@media screen and (max-width: 912px) {
    .beams-header-container h1{
        font-size: 40px;
        line-height: 40px;
        margin-top: 20px;
    }
    .beams-header-container{
        padding: 20% 5%;
    }
    .beams-hero{
        width: 30%;
        margin-bottom: -35%;
    }
    
}
@media screen and (max-width: 767px) {
    .beams-header-container h1{
        font-size: 24px;
        line-height: 40px;
        margin-top: 20px;
    }
    .beams-content-container{
        padding: 20px 0 0;
    }
    .beams-header-container{
        padding: 20% 5%;
    }
    .low-container{
            padding: 20px;
            gap: 30px;
    }
   
    .beams-content-container{
        gap: 15px;
    }
    .beams-section{
        gap: 15px;
    }
    
}