.feature-2{
    width: 100%;
    height: 100vh;
    background: url(/public/Assets/images/Feature-2-bg.png);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    
}

.container2{
    width: 85%;
    height: 80%;
    background-color: var(--white);
    padding: 2rem;
    border-radius: var(--br-base);
    box-shadow: var(--effect-1);
    display: flex;
    flex-direction: column;
    gap: 20px;
     
}

.feature-content2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.img-box1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topicimg1{
    width: 75%;
}


.topics-container{
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    
}

.topic-card{
    width: 30%;
    height:40%;
    background-color: var(--white);
    box-shadow: var(--effect-1);
    border-radius: var(--br-xs);
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.topic-img{
    width: 100%;
    height: 65%;
    border-radius: var(--br-xs) var(--br-xs) 0 0;
}

.topic-title{
    text-align: center;
    width: 100%;
    height: 35%;
    font-family: var(--font-mulish);
    font-size: var(--font-size-xs);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}




@media screen and (max-width: 1200px){
    .feature-2{
        height: auto;
        background-position: center;
    }

    .topics-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        height: auto;
        width: 100%;
    }
    .feature-content2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }

    .container2{
        width: 80%;
        height: auto;
        background-color: var(--white);
        padding: 2.5rem 2rem ;
        margin: 2.5rem 1.2rem;
        border-radius: var(--br-base);
        box-shadow: var(--effect-1);
        display: flex;
        flex-direction: column;
        gap: 50px;   
    }
    
    .img-box1{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .topicimg1{
        width: 40%;
    }

    .topic-card{
        width: 60%;
        height:auto;
        box-shadow: var(--effect-1);
        border-radius: var(--br-xs);
        display: flex;
        flex-direction: column;
        gap: 0px;
    
    }
    
    .topic-img{
        width: 100%;
        height: 65%;
    }
    
    .topic-title{
        text-align: center;
        width: 100%;
        height: auto;
        font-family: var(--font-mulish);
        font-size: 20px;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 767px){

    .feature-content2{
        gap: 50px;
    }
    
    .topicimg{
        width: 50%;
    }
   
    
    .topic-title{
        font-size: 12px;
        line-height: 20px;
      
    }
    .topics-container{
        gap: 50px;
      
    }
    /* .container2{
        margin: 2rem 0;
        padding: 2rem 0;
    } */
}

@media screen and (max-width:  280px){
    

    .topic-card{
        width: 85%;
    }
}