.trending-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.trending-card-img img{
    width: 100%;
}

.trending-card-title{
    font-family: var(--font-poppins);
    font-size: 20px;
    padding: 0;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-card-desc{
    font-family: var(--font-mulish);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    color: #667085;
}
.trending-category{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    border-radius: 100px;
    font-family: var(--font-mulish);
}