.productspage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.prodsec1{
    width: 100%;
    height: 100vh;
    padding: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/productslandbg.png");
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.prodsec1 h1{
    color: white;
    font-size: 70px;
    margin-bottom: 200px;
}

.prodsec1 span{
    color: #191641;
    background-color: white;
    padding: 30px;
    font-style: italic;
    font-size: 50px;
    border-radius: 20px;
}

.prodsec3{

    width: 100%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#F7CD61;
}

.prodsec3 h2{
    text-align: center;
    width: 60%;
    margin: 30px;
    font-size: 50px;
}


.prodsec4{
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
   
}

.prodsec4data{
    padding: 110px;
    display: flex;
    flex-direction: column;
}

.prodsec4data h1{
    font-size: 60px;
}

.prodsec4liner{
    width: 300px;
    height: 3px;
    background-color: #435CFF;
    margin-top: 20px;
    margin-bottom: 50px;
}

.prodsec4data p{
    font-size: 20px;
    line-height: 70px;
}

.prodsec4data button{
    margin-top: 60px;
    background: #435CFF;
    padding: 15px 45px;
    border-radius: 100px;
    color: white;
    border: none;
    width: 320px;
    align-self: center;
    font-size: 22px;
}

.prodsec4img{
    width: 350px;
    height: auto;
    position: absolute;
    right: 100px;
    top: 100px;
}

.prodsec5{
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F7CD61;
   
}

.prodsec5data{
    padding: 110px;
    display: flex;
    flex-direction: column;
}

.prodsec5data h1{
    font-size: 60px;
}

.prodsec5liner{
    width: 300px;
    height: 3px;
    background-color: #435CFF;
    margin-top: 20px;
    margin-bottom: 50px;
}

.prodsec5data p{
    font-size: 20px;
    line-height: 70px;
}

.prodsec5data button{
    margin-top: 60px;
    background: #435CFF;
    padding: 15px 45px;
    border-radius: 100px;
    color: white;
    border: none;
    width: 320px;
    align-self: center;
    font-size: 22px;
}

.prodsec5img{
    width: 350px;
    height: auto;
    position: absolute;
    right: 100px;
    top: 100px;
}

.prodsec6{
    width: 100%;
    padding-top: 100px;
    background-color: #FAFAFA;
    padding-bottom: 100px;
}

.jumpedletterimg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumpedletterimg img{
    width: 60%;
    height: auto;
}

.prodsec7{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
}

.prodsec7inner{
    width: 100%;
    justify-content: center;
    padding: 100px;
    display: flex;
    align-items: center;
}

.testicard{
    height: 350px;
    width: 700px;
    background-color: #F7CD61;
    border-radius: 20px;
    position: relative;
}

.prodsec7inner > h1{
    margin-right: 100px;
    font-size: 56px;
}

.testicard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.testicard img{
    height: 100%;
    width: auto;
}

.testicardinner
{
    padding: 40px;
 
}

.testicardinner h6{
    margin-top: 20px;
    font-size: 18px;
}

.testicardinner > img{
    width: 35px;
    height: auto;
}

.testicardinner > p{
    margin-top: 10px;
}

.secprodlabel{
    max-width: 380px;
    width: 35%;
    background-color: #191641;
    padding: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    /* margin-bottom: 30px; */
   }