@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500;1,700&display=swap');


.alcenter{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
}

*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.landingsection{
  height: 100vh;
  display: flex;
  scroll-snap-align: start;
  width: 100%;
}

 .landingpage{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
 }
 
 .bgvideo{
  width: 100%;
  position: relative;
  height: 100%;
 }

 .one video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* position: relative; */
 }

 .sec1data{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: aquamarine; */
  height: 400px;
  justify-content: space-evenly;
  width: 70%;
 }

 .sec1data h2{
  color: white;
  font-size: 70px;
  letter-spacing: 3px;
  text-align: center;
 }

 .sec1data span{
  color: white;
  font-size: 20px;
  text-align: center;
 }

 .sec1data button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background: #435CFF;
  border-radius: 100px;
  border: none;
  width: 300px;
  height: 72px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  cursor:pointer;
 }

 /* End of Sec 1 */

 .two
 {
  padding-top: 100px;
  padding-bottom: 20px;
  flex-direction: column;
 }

 .sec2label{
  max-width: 350px;
  width: 30%;
  background-color: #191641;
  padding: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
 }

 .sec2data{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;

 }

 .sec2data img{
    width: 30%;
    height: auto;
 }

 .object {
  animation: MoveUpDown 3s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    padding-top: 0;
  }
  50% {
    padding-top: 80px;
  }
}

 .sec2idiv{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* background-color: aliceblue; */
  align-items: center;
 }

 .sec2idiv h1{
  text-align: center;
  font-size: 40px;
 }

 .sec2contdiv{
  min-height: 230px;
  margin-top: 40px;
  height: 40%;
  background-color: #435CFF;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

 .sec2contdiv h1{
  text-align: left;
  color: white;
  margin-bottom: 10px;
 }

 .sec2contdiv span{
  color: white;
  line-height: 30px;
 }

 
 /* End of Sec 2 */

 .three{
  background-image: url('./assets/landingsec3bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
 }

 .sec3innerdiv{
  display: flex;
  flex-direction: column;

 }

 .sec3innerdiv{
  font-size: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
 }

 .sec3innerdiv span{
  margin: 10px;
  text-align: center;
 }

 .sec3innerdiv button{
  border: none;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 45px;
  background: #435CFF;
  border-radius: 100px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;


 }

  /* End of Sec 3 */

  .four{
    padding-top: 100px;
    padding-bottom: 80px;
    width: 100%;
    flex-direction: column;
    background-color: #FAFAFA;

  }

  .sec4datadiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .sec4spltitle{
    width: 450px;
    /* background-color: #435CFF; */
    height: 150px;
    /* padding: 30px; */
    border-radius: 100px 0px 0px 0px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    /* justify-content: center; */
  }

  .sec4innertitle{
    /* font-weight: 500; */
    font-size: 40px;
    text-align: center;
    padding: 20px;
    z-index: 2;
  
  }

  .sec4splbg{
    background-color: #F7CD61;
    height: 100%;
    width: 32%;
    position: absolute;
    border-radius: 100px 0px 0px 0px;
    z-index: 0;
  }

  .sec4cardsdiv
  {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
  }

  .sec4carddiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sec4cardimgcont{
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .sec4carddiv span{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    width: 230px;

  }

    /* End of Sec 4 */


  .five{
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    width: 100%;
    background-color: #F7CD61;

  }

  .carodiv{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .caroinner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #435CFF; */
  }

  .carosel{
    width: 60%;
  }

  .caroitem{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .caroitem p {
    font-size: 18px;
  }

 

  .caroimg{
    width: 400px !important;
    padding: 20px;
    height: auto !important;
   border-radius: 50% !important;
  }

  .caroitem p{
    width: 50%;
    padding: 20px;
  }

    /* End of Sec 5 */

  .six{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    flex-direction: column;
    background-color: #FAFAFA;
  }

  /* End of Sec 6 */

  .seven{
    flex-direction: column;
  }

  .newletter
  {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    padding-top: 100px;

  }

  .outnews1{
    position: relative;
    width: 80%;
    height: 300px;
    border-radius: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    padding: 40px;
  }

  .newsoutbod
  {
    position: absolute;
    background-color: #F7CD61;
    height: 175px;
    width: 175px;
    left: -30px;
    bottom: -30px;
    z-index: -1;
    border-radius: 0px 0px 0px 100px;
  }

  .outnewsinner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .outnewsleft{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;
  }

  .outnewsleft > h3{
    font-size: 40px;
    margin-bottom: 20px;
  }


  .outinner2{
    height: 100%;
    width: 35%;
    border-radius: 150px 100px 100px 150px;
    background-color: #F7CD61;
    position: relative;
  }

  .subsnow{
    position: absolute;
    height: 80px;
    border-radius: 100px;
    width: 95%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    top: 50%;
    right: -15%;
    transform: translate(-50%,-50%);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subsbtnnews{
    height: 100%;
    width: 40%;
    border-radius: 100px;
    background-color: #435CFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subsbtnnews > span{
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 500;
  }

  .subsnow > input{
    border: none;
    font-size: 16px;
    outline: none;
  }