.aboutuspage{
   display: flex;
   flex-direction: column;
   width: 100%;
    overflow-x: hidden;
}

.abtus1{
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/Aboutusbg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 70px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.abt1bg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/aboutusimg.png");
    width: 80%;
    height: 80%;
    margin-top: 100px;
    border-radius: 20px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.abtush1{
    position: absolute;
    top: 0;
    padding: 20px 40px;
    background-color: #F7CD61;
    font-size: 30px;
    border-radius: 0px 0px 10px 10px;
}

.abt1bg > h1{
    font-size: 70px;
    letter-spacing: 5px;
    color: white;
}

.abtus2{
    height: 950px;
    width: 100%;
    background-image: url("../../assets/aboutsec2bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;

    margin-top: 50px;
}

.abtsec2inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abtsec2pdiv{
    width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.abtsec2pdiv > p{
    font-size: 22px;
    line-height: 50px;
}

.abtusdivider{
    background-color: white;
    height: 3px;
    width: 150px;
    margin-top: 30px;
}

.abtus2inner2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.abtus2inner2 > div{
   margin-left: 60px;
}

.abtus2inner2 >div > p{
    color: white;
    margin: 20px;
    font-size: 24px;
    width: 550px;
}

.abtussec3{
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    background-color: #F7CD61;


}


.abtussec31
{
    min-width: 100vw;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.abtussec3inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
    width: 100%;
    height: 100%;
}

.bgabtus1{
    background-image: url('../../assets/aboutsec3bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgabtus2{
    background-image: url('../../assets/ourstory2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgabtus3{
    background-image: url('../../assets/ourstory4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgabtus4{
    background-image: url('../../assets/ourstory3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.abtussec3inner p{
    width: 60%;
    font-size: 20px;
    line-height: 50px;
}

.scrolldiv{
    position: relative;
    transition: right 0.3s ease;

}

.scrollerarrow{
    position: absolute;
    width: 100%;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);

}

.abtus4{
    height: 900px;
    width: 100%;
    background-image: url("../../assets/aboutusteam1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;

}

.abtus4info{
    color: white;
    position: absolute;
    font-size: 40px;
    bottom: 100px;
    left: 200px;
}

.abtus4info h1{
    margin: 20px;
}

.abtus4info h3{
    margin: 20px;
}

.abtus4info div{
    margin: 20px;
}

.abtmission{
    padding-top: 100px;
    width: 100%;
    height: 950px;
    background-color: #191641;
}

.abtmissioninner{
    position: relative;
    /* padding: 80px; */
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.abtmissioncircle{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: #F7CD61;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: translate(-100px,30px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding-left: 150px;
    text-align: center;

}

.abtvission{
    padding-top: 100px;
    width: 100%;
    height: 950px;
    background-color: #ffffff;
    z-index: 5;
}

.abtvissioninner{
    position: relative;
    /* padding: 80px; */
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.abtvissioncircle{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: #435CFF;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translate(80px,30px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22px;
    flex-direction: column;
    color: white;
    padding: 120px;
    line-height: 50px;
    /* padding-right: 80px; */
    /* text-align: center; */
}

.abtusrocket{
    position: absolute;
    right: 0;
    top: 50px;
    height: 650px;
    width: 650px;
}

.abtusman
{
    position: absolute;
    right: 600px;
    top: 10px;
    height: 600px;
    width: 600px;
}

.abtus5{
    height: 650px;
    width: 100%;
    background-color: #F7CD61;
    padding-top: 100px;
    padding-bottom: 100px;
z-index: 5;
    margin-top: 50px;
}

.abtsec5inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abtsec5pdiv{
    width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}

.abtsec5pdiv > p{
    font-size: 22px;
    line-height: 50px;
}