
  .mobile-mockup {
    width: 45%;
    height: 60%;
    object-fit: cover;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .logo-footer, .terms,.policy{
    cursor: pointer;
  }
  .mobile-mockup img{
    width: 25%;
  }
  .audio-player {
    width: 30%;
  }
  .container-3 {
    border-radius: var(--br-base);
    background-color: var(--white);
    box-shadow: var(--effect-1);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    padding: 1.2rem;
    margin: 1.2rem;
  }
  .bottom-left-bar,
  .bottom-right-bar,
  .top-left-bar,
  .top-right-bar {
    z-index: 2;
    width: 3%;
    background-color: var(--yellow);
    height: 20%
  }
  .bottom-left-bar{
    position: absolute;
    bottom: 0;
    left: 9.5%;
    border-radius: 100px 100px 0 0;
  }
  .top-left-bar{
    position: absolute;
    top: 0;
    left: 9.5%;
    border-radius: 0 0 100px 100px;
  }
  .top-right-bar{
    position: absolute;
    top: 0;
    right: 9.5%;
    border-radius: 0 0 100px 100px;
  }
  .bottom-right-bar{
    position: absolute;
    bottom: 0;
    right: 9.5%;
    border-radius: 100px 100px 0 0;
  }

  .feature-3 {
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-mini);
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .bg{
    position: relative;
    width: 100%;
  }


  @media screen and (max-width: 912px){

    .mobile-mockup {
        width: 100%;
        padding: 0;
        height: 40%;
      }
      .audio-player {
        width: 100%;
      }
      .container-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
        z-index: 0;
        padding: 1.2rem;
        margin: 1.2rem;
      }

  }

  @media screen and (max-width: 767px){
    .bottom-left-bar{
        left: 12%;
        
      }
      .top-left-bar{
        left: 12%;
      }
      .top-right-bar{
        right: 12%;
      }
      .bottom-right-bar{
        right: 12%;
      }
  }